                /* General */

                * {
                    margin: 0;
                    padding: 0;
                    font-family: 'Raleway', sans-serif;
                    font-size: 14px;
                    text-align: left;
                }

                section {
                    padding: 30px 50px;
                }

                p {
                    padding: 5px 0;
                }

                /* Menu */

                header {
                    height: 120px;
                    padding: 0 50px;
                }

                header nav {
                    float: right;
                    margin-top: 50px;
                }

                header nav ul li {
                    float: left;
                    display: inline-block;
                    list-style: none;
                }

                header nav ul li a {
                    font-weight: bold;
                    margin-right: 50px;
                    text-decoration: none;
                }

                #I {
                    color: #0065FC;
                    border-top-style: solid;
                    padding-top: 30px;
                }

                #II {
                    color: black;
                }

                #III {
                    color: #0065FC;
                }

                #logo {
                    margin-top: 32px;
                    width: 100px;
                }

                /* Intro */

                #filter ul {
                    display: flex;
                }

                #filter li {
                    list-style: none;
                    margin: 20px 30px 20px 0;
                }

                #search {
                    display: flex;
                }

                #location {
                    position: relative;
                    width: 80px;
                    height: 30px;
                    padding: 5px 10px;
                    font-size: 12px;
                    border: none;
                    outline: none;
                    border-radius: 25px 0 0 25px;
                    background-color: #F2F2F2;
                    color: black;
                }

                #text {
                    position: relative;
                    width: 130px;
                    height: 30px;
                    padding: 5px 10px;
                    font-size: 12px;
                    border-right-style: none;
                    border-left-style: none;
                    border-color: #F2F2F2;
                    outline: none;
                    background-color: white;
                    color: black;
                }

                #cherche {
                    position: relative;
                    width: 80px;
                    height: 30px;
                    padding: 5px 10px;
                    font-size: 12px;
                    border: none;
                    outline: none;
                    border-radius: 0 25px 25px 0;
                    background-color: #0065FC;
                    color: white;
                }

                /* Populaires */

                aside {
                    width: 25%;
                    /* float: right; */
                }

                /* Hébergements */

                #hebergements {
                    background-color: #F2F2F2;
                    padding: 60px 0;
                    display: flex;
                    justify-content: space-around;
                }

                #hebergements article {
                    width: 300px;
                    height: 200px;
                    border-radius: 10px;
                }

                .overlay {
                    background: rgba(255, 255, 255, 0.95);
                    height;
                    30%;
                    width: 190px;
                    padding: 20px;
                    border-radius: 10px 0 0 10px;
                    text-align: center;
                    box-sizing: border-box;
                }

                /* Activité */

                /* Footer */

                footer {
                    background-color: #F2F2F2;
                    text-align: center;
                }

                #footer {
                    display: flex;
                    justify-content: space-around;
                }