                /* General */

                * {
                    margin: 0;
                    padding: 0;
                    font-family: 'Raleway', sans-serif;
                }

                p {
                    padding: 5px 0;
                }

                a {
                    text-decoration: none;
                    cursor: pointer;
                    color: inherit;
                }

                /* Menu */

                .header {
                    display: grid;
                    align-items: center;
                    margin: auto;
                    max-width: 1440px;
                }

                .headerImg {
                    grid-area: logo;
                    padding: 0 2rem;
                }

                .navbar {
                    display: flex;
                    align-items: center;
                    grid-area: navbar;
                }

                .navlink {
                    padding: 2rem;
                    font-weight: 500;
                    text-align: center;
                }

                .navlink:hover {
                    color: #0065fc;
                }

                .signup {
                    display: flex;
                    align-items: center;
                    grid-area: button;
                    padding: 2rem;
                    color: #0065fc;
                    font-weight: 600;
                }

                @media screen and (min-width: 700px) {
                    .header {
                        grid-template-columns: auto 1fr auto auto;
                        grid-template-areas: "logo . navbar button";
                        margin: 0;
                    }
                    .I {
                        border-top: 3px solid #0065fc;
                        color: #0065FC;
                    }
                }

                @media screen and (max-width: 699px) {
                    .header {
                        grid-template-columns: auto 1fr auto;
                        grid-template-areas: "logo . button" "navbar navbar navbar"
                    }
                    .headerimg {
                        order: 0
                    }
                    .signup {
                        order: 1
                    }
                    .navbar {
                        order: 2
                    }
                    .navlink {
                        border-top: none;
                        border-bottom: 3px solid #f2f2f2;
                        width: 50%
                    }
                    .I {
                        border-bottom-color: #0065fc;
                        color: #0065FC;
                    }
                }

                /* Intro */

                #intro {
                    padding: 30px 40px;
                }

                .searchp {
                    margin-bottom: 10px;
                }

                #search {
                    display: flex;
                }

                #location {
                    background-color: #f2f2f2;
                    padding: 1rem 1.25rem;
                    border-radius: 1rem 0 0 1rem;
                    text-align: center;
                }

                .searchtext {
                    border-right: none;
                    border-left: none;
                    border-top: #f2f2f2 1px solid;
                    border-bottom: #f2f2f2 1px solid;
                    padding: 0 1rem;
                    box-sizing: border-box;
                    width: 14rem;
                    font-size: 1rem;
                    font-weight: bold;
                }

                .searchtext::placeholder {
                    font-family: "Raleway", "Sans serif";
                    color: black;
                }

                @media screen and (min-width: 700px) {
                    button {
                        display: none;
                    }
                    .searchsubmit {
                        background-color: #0065fc;
                        color: #fff;
                        font-weight: bold;
                        border: none;
                        border-radius: 0 1rem 1rem 0;
                        padding: 0 1.5rem;
                        font-size: 1rem;
                        cursor: pointer;
                    }
                }

                @media screen and (max-width: 699px) {
                    button {
                        background-color: #0065fc;
                        color: #fff;
                        font-weight: bold;
                        border: none;
                        border-radius: 0 1rem 1rem 0;
                        padding: 0 1.5rem;
                        font-size: 1rem;
                        cursor: pointer;
                    }
                    .searchsubmit {
                        display: none;
                    }
                }

                #filter {
                    display: flex;
                    margin-top: 2rem;
                    flex-wrap: wrap;
                }

                h2 {
                    margin: 0 2rem 1rem 0;
                    display: flex;
                    align-items: center;
                }

                .filters {
                    display: flex;
                    align-items: center;
                    margin-right: 2rem;
                    border: 2px solid #d9d9d9;
                    border-radius: 2rem;
                    margin-bottom: 1rem;
                    cursor: pointer;
                }

                .icon {
                    background-color: #deebff;
                    border-radius: 100%;
                    height: 3rem;
                    width: 3rem;
                    min-height: 3.5rem;
                    min-width: 3.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: -2px;
                    color: #0065fc;
                }

                h3 {
                    margin: 0 1rem;
                    cursor: pointer;
                }

                #result {
                    display: flex;
                    align-items: center;
                    margin: 1rem 0 2rem 0;
                }

                #resulticon {
                    height: 2rem;
                    width: 2rem;
                    min-height: 2rem;
                    min-width: 2rem;
                    color: #0065fc;
                    border: solid 1px #d9d9d9;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 1rem;
                }

                @media screen and (min-width: 900px) {
                    #top {
                        display: flex;
                        flex-direction: row-reverse;
                        margin: 0 10px 25px 10px;
                    }
                    #pop {
                        width: 25%;
                        margin-right: 20px;
                    }
                    #hebergements {
                        width: 65%;
                        margin-right: 30px;
                    }
                }

                @media screen and (max-width: 900px) {
                    #pop {
                        margin: 0 20px 10px 20px;
                    }
                    #hebergements {
                        margin: 10px 20px 10px 20px;
                    }
                    #top {
                        display: grid;
                    }
                }

                /* Populaires */

                #pop {
                    display: grid;
                    row-gap: 2rem;
                    align-items: start;
                    background-color: #f2f2f2;
                    border-radius: 1.5rem;
                    padding: 2rem;
                }

                .poparticle {
                    background-color: #fff;
                    padding: .375rem;
                    border-radius: 1.25rem;
                    box-shadow: 0 0 16px #0000002e;
                    transition-duration: .1s;
                    cursor: pointer;
                    box-sizing: border-box;
                    height: 100%;
                    margin-bottom: 15px;
                }

                #poptitle {
                    margin: 0;
                    display: flex;
                    justify-content: space-between;
                }

                .popcontent {
                    display: flex;
                    align-items: stretch;
                    height: 100%;
                    overflow: auto
                }

                .popcontentimg {
                    position: relative;
                    min-height: 100%;
                    width: 33%;
                    min-width: 33%;
                    max-width: 33%
                }

                .popimg {
                    border-radius: 1rem 0 0 1rem;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover
                }

                .popcontenttext {
                    display: flex;
                    flex-direction: column;
                }

                .space {
                    flex: 1
                }

                .poph {
                    margin: .25rem .75rem 0 .75rem;
                    font-size: 18px;
                }

                .popp {
                    margin: .25rem .75rem .25rem .75rem
                }

                .popicon {
                    margin: 3rem .75rem 0 .75rem;
                }

                @media screen and (max-width: 899px) {
                    #fav {
                        grid-template-columns: repeat(3, 1fr);
                        padding: 1rem;
                        display: grid;
                        column-gap: 1rem;
                        row-gap: 2rem;
                    }
                }

                @media screen and (max-width: 700px) {
                    #fav {
                        grid-template-columns: 1fr;
                    }
                    #pop {
                        border-radius: 0px;
                        margin: 0px;
                    }
                    #poptitle {
                        margin: 0 20px;
                    }
                }

                /* Hébergements */

                #hebergements {
                    display: grid;
                    column-gap: 2rem;
                }

                .heb {
                    padding: 1rem;
                    display: grid;
                    column-gap: 1rem;
                    row-gap: 2rem;
                }

                .hebcontentimg {
                    height: 7rem;
                    object-fit: cover;
                    max-width: 100%;
                    width: 100%;
                    max-height: 100%;
                    border-radius: 1rem 1rem 0 0
                }

                .article {
                    background-color: #fff;
                    padding: .375rem;
                    border-radius: 1.25rem;
                    box-shadow: 0 0 16px #0000002e;
                    transition-duration: .1s;
                    cursor: pointer;
                    box-sizing: border-box;
                    height: 100%
                }

                .hebh {
                    margin: .25rem .75rem 0 .75rem;
                    font-size: 18px;
                }

                .hebp {
                    margin: .25rem .75rem .25rem .75rem;
                }

                .hebicon {
                    margin: 0 .75rem .25rem .75rem;
                }

                .true {
                    color: #0065fc;
                }

                .false {
                    color: #f2f2f2;
                }

                #hebh1 {
                    margin-top: 20px;
                    margin-left: 30px;
                }

                #plus {
                    margin-left: 15px;
                    font-size: 18px;
                }

                @media screen and (min-width: 900px) {
                    #hebergements {
                        max-width: 1440px;
                        height: auto;
                        background-color: #f2f2f2;
                        border-radius: 1.5rem;
                    }
                    .heb {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }

                @media screen and (max-width: 899px) {
                    #hebergements {
                        max-width: 1440px;
                        height: auto;
                        background-color: #f2f2f2;
                        border-radius: 1.5rem;
                    }
                    .heb {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }

                @media screen and (max-width: 699px) {
                    .heb {
                        margin: 0%;
                        grid-template-columns: 1fr;
                        display: grid;
                    }
                    #hebergements {
                        background: none;
                    }
                }

                /* Activité */

                #activity {}

                #activityh {
                    margin: 10px 20px;
                }

                #activityform {
                    padding: 1rem;
                    display: grid;
                    column-gap: 1.5rem;
                    row-gap: 1rem;
                }

                .activityarticle {
                    background-color: #fff;
                    border-radius: 1.25rem;
                    box-shadow: 0 0 16px #0000002e;
                    transition-duration: .1s;
                    cursor: pointer;
                    box-sizing: border-box;
                    height: 100%
                }

                .activitycontent {}

                .activityimg {
                    height: 7rem;
                    object-fit: cover;
                    max-width: 100%;
                    width: 100%;
                    max-height: 100%;
                    border-radius: 1rem 1rem 0 0;
                }

                .activitytext {
                    font-size: 10px;
                    margin: 10px;
                }

                @media screen and (min-width: 900px) {
                    #activityform {
                        grid-template-columns: repeat(4, 1fr);
                        column-gap: 2.5rem;
                    }
                    .article1 {
                        grid-row: 2/7;
                        grid-column: 1/2
                    }
                    .article2 {
                        grid-column: 2/3;
                        grid-row: 2/5
                    }
                    .article3 {
                        grid-column: 3/4;
                        grid-row: 2/7
                    }
                    .article4 {
                        grid-column: 4/5;
                        grid-row: 2/3
                    }
                    .article5 {
                        grid-column: 2/3;
                        grid-row: 6/7
                    }
                    .article6 {
                        grid-column: 4/5;
                        grid-row: 4/7
                    }
                    .activityimg1 {
                        height: 88%;
                        object-fit: cover;
                        max-width: 100%;
                        width: 100%;
                        max-height: 100%;
                        border-radius: 1rem 1rem 0 0;
                    }
                    .activityimg2 {
                        height: 9rem;
                        object-fit: cover;
                        max-width: 100%;
                        width: 100%;
                        max-height: 100%;
                        border-radius: 1rem 1rem 0 0;
                    }
                    #activity {
                        margin: 10px 20px;
                    }
                }

                @media screen and (max-width: 899px) {
                    #activityform {
                        grid-template-columns: repeat(2, 1fr);
                    }
                    .activityimg1 {
                        height: 7rem;
                        object-fit: cover;
                        max-width: 100%;
                        width: 100%;
                        max-height: 100%;
                        border-radius: 1rem 1rem 0 0;
                    }
                    .activityimg2 {
                        height: 7rem;
                        object-fit: cover;
                        max-width: 100%;
                        width: 100%;
                        max-height: 100%;
                        border-radius: 1rem 1rem 0 0;
                    }
                    #activity {
                        margin: 10px;
                    }
                }

                @media screen and (max-width: 699px) {
                    #activityform {
                        grid-template-columns: 1fr;
                        margin: 0 20px;
                    }
                    .activityimg1 {
                        height: 7rem;
                        object-fit: cover;
                        max-width: 100%;
                        width: 100%;
                        max-height: 100%;
                        border-radius: 1rem 1rem 0 0;
                    }
                    .activityimg2 {
                        height: 7rem;
                        object-fit: cover;
                        max-width: 100%;
                        width: 100%;
                        max-height: 100%;
                        border-radius: 1rem 1rem 0 0;
                    }
                    #activityh {
                        margin: 10px 40px;
                    }
                }

                /* Footer */

                footer {
                    background-color: #F2F2F2;
                    text-align: center;
                }

                #footer {
                    display: flex;
                }

                .footercontent {
                    display: flex;
                    flex-direction: column;
                    width: 30%;
                    margin: 15px 40px;
                    text-align: left;
                }

                .footertext {
                    margin: 10px 0;
                }

                .footerlink {
                    margin: 5px 0;
                }

                @media screen and (max-width: 699px) {
                    #footer {
                        display: flex;
                        flex-direction: column;
                    }
                    .footercontent {
                        margin: 10px 40px;
                        padding: 0 10px;
                        width: auto;
                    }